/distance.mp4
/v5.pt
/v6.pt
/v7.pt
/v8.pt
/v9.pt
/yolov5_best_model8.pt
/yolov5m.pt
/yolov5s.pt
sari_yelek_v1.mp4
.gitignore
sari_yelek_v8.mp4
v1.pt
/__pycache__/*
/trackers/__pycache__
/trackers/bytetrack/__pycache__
/trackers/ocsort/__pycache__